@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change font on everything inside body */
@layer base {
  body {
    overflow: hidden;
  }

  li {
    cursor: pointer;
  }

  input[type="checkbox"] {
    accent-color: #000;
  }
}
